@use '@/styles/responsive' as r;

.membersList {
  display: grid;
  align-items: start; // Align to top
  grid-template-columns: auto 1fr; /* auto-width for checkbox, remaining space for others */
  width: 100%;
  padding: var(--space-2) 0;
  margin-bottom: var(--space-3);

  > *:not(:first-child) {
    padding-left: 20px; /* Adds space only to elements after the first column */
  }

  .box {
    align-self: start; // Align to top
  }

  .memberBtn {
    margin-top: var(--space-4);
  }
}

.memberCheckbox {
  grid-column: 1;
  grid-row: 1;
  width: min-content; /* Make the checkbox column only as wide as needed */
  justify-self: start; /* Align to the start of the cell */
}

.primaryContact {
  font-size: 1.1rem;
  margin: 0 0 0.5rem 0;
}

.memberInfo {
  grid-column: 2;
  grid-row: 1;

  h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.1rem;
  }

  p {
    margin: 0.25rem 0;
    color: var(--text-secondary);
    font-size: var(--fs-small);
  }

  .orcid {
    font-size: var(--fs-small);

    span {
      margin-right: 0.5rem;
    }

    a {
      color: var(--text-secondary);
      text-decoration: underline;
      text-underline-offset: 4px;
      font-size: var(--fs-small);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* on mobile, columns 3 and 4 will stack below the member info*/
.memberRole {
  grid-column: 2;
  grid-row: 2;

  .role {
    margin: 0;
    color: var(--text-secondary);
  }
}

.memberActions {
  grid-column: 2;
  grid-row: 3;
}

.otherOptions {
  margin-top: var(--space-8);
  width: 100%;
}

.notMember {
  color: var(--gray-200);
}

.primaryContactSelect {
  width: auto;
  min-width: fit-content;
  max-width: max-content;
}

.primaryContactWrapper {
  margin: var(--space-8) 0 var(--space-12) 0;
}
.primaryContactChangeWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  .linkButton {
    padding-left: 0.25rem;
  }
  
}

@include r.device('lg') {
  .membersList {
    /* Four columns: auto-width for checkbox, remaining space divided among the other three */
    grid-template-columns: auto minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    justify-content: start; /* Ensure the grid starts from the left */
    align-items: start;
  }

  .membersList .memberBtn {
    margin-top: 0;
  }

  .memberInfo {
    grid-column: 2;
    grid-row: 1;
  }

  .memberRole {
    grid-column: 3;
    grid-row: 1;
  }

  .memberActions {
    grid-column: 4;
    grid-row: 1;
  }
  
  .otherOptions {
    width: 70%;
  }
}