
.dmpEditor {
  position: relative;
  margin-bottom: 2rem;

  .dmpEditorToolbar {
    padding: 0.5em 0.5em;
    background-color: white;
    border-radius:5px 5px 0 0;
    border: 2px solid var(--gray-100);
  }

  .Prosemirror,
  .editorProsemirror {
    padding: 0.5em 1.5em 0.5em 1em;
    background-color: white;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 0 0 5px 5px;
    border: 2px solid var(--gray-100);
  }
}

.skeleton {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  min-height: 122px;
  margin-bottom: 2rem;
}

.skeletonToolbar {
  display: flex;
  gap: 8px;
}

.skeletonButton {
  width: 32px;
  height: 32px;
  background: #ddd;
  border-radius: 4px;
}

.skeletonEditor {
  flex-grow: 1;
  background: #eaeaea;
  border: 1px solid #ccc;
  border-radius: 4px;
}
