
.dmp-editor {
  position: relative;

  .react-aria-Toolbar {
    padding: 0.5em 0.5em;
    background-color: white;
    border-radius:5px 5px 0 0;
    border: 2px solid var(--gray-100);
  }

  .remirror-editor.ProseMirror {
    padding: 0.5em 1.5em 0.5em 1em;
    background-color: white;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 0 0 5px 5px;
    border: 2px solid var(--gray-100);
  }
}
