.addContainer {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  margin-top: var(--space-5);
  max-width: 500px;

  button {
    border-radius: 6px;
    margin-top: 28px
  }

  .addAliasTextField {
    flex: 1;
    margin-bottom: 0;
  }
}
