@import '@/styles/responsive.scss';

.imageButton {
  @include device(md) {
  }

  justify-content: center;
  display: inline-flex;
  align-items: center;
  margin: 15px 0;
  padding: 1rem 1rem;
  background-color: var(--gray-75);
  color: black;
}

.imageButton:visited {
  color: black;
}

.imageButton:hover:not(:disabled) {
  background-color: var(--gray-100) !important;
  color: black !important;
  text-decoration: none !important;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: currentColor; /* This will make the SVG inherit the text color */
}
