.optionsDescription {
  font-size: var(--fs-sm);
  font-weight:600;
}

.searchField {
  display: grid;
  grid-template-areas:
  "label label"
  "input button"
  "help help";
  grid-template-columns: 1fr auto;
  max-width: 500px;
}

.searchLabel {
  grid-area: label;
}

.searchInput {
  grid-area: input;

}

.searchButton {
  grid-area: button;
  margin-left: 10px;
  width: fit-content;
}

.searchHelpText {
  grid-area: help;
  width: fit-content;
}

.optionsWrapper {
  padding: var(--space-0);
  margin-bottom: var(--space-6);
}

.questionFormField {
  height: 100px
}
