
#sgLayout {
  display: flex;
  flex-direction: row;

  .layout-sidebar-container {
    // --sidebar-width: 300px;
    display: flex;
    flex-direction: column;

    a {
      display: block;
      padding: 0.5em 1em;
    }
  }
}

#sgContent {
  & > div {
    margin-bottom: 3em;
    max-width: 35em;
  }
}

.sg-example {
  margin-bottom: 2rem;
}

.sg-button-list > * {
  margin: 0.5em;
}

.brand-color-list {
  > * {
    margin-bottom: 1em;
  }
}

ul.sg-spaced {
  li {
    margin-bottom: 1rem;
  }
}

dd {
  margin-top: var(--brand-space1);
  margin-bottom: var(--brand-space2);
}

.brand-color {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
  --_color: gray;
  --_border-color: gray;

  &:before {
    content: "";
    display: block;
    position: relative;
    margin-right: var(--brand-space2);
    width: 75px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid var(--_border-color);
    background-color: var(--_color);
  }
}

#_richtext {
  max-width: 65em;
}

#_icons {
  .material-symbols-outlined {
    margin-right: 1em;
  }
}

.sg-sidebar,
.sg-sidebar-collapsed {
  border: 1px solid gray;
  width: 100%;
  height: 400px;

  --drawer-width: 30%;
  --layout-gap: 0.5rem;

  .container-content {
    padding: 1em;
    background-color: var(--purple-100);
    color: var(--purple-600);
  }

  aside,
  container-sidebar {
    padding: 1em;
    background-color: var(--purple-600);
    color: var(--purple-100);
  }
}
