@mixin button-base {
  display: inline-flex;
  padding: 8px 16px;
  border-radius: 2rem;
  font-size: 1rem;
  margin-right: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  position: relative;
  background: var(--slate-900);
  color: var(--bg-white);
font-weight: bold;


  &:active,
  &:visited {
    color: var(--bg-white);
  }
  &:hover:not(:disabled) {
    background: var(--blue-500);
    color: #fff;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--focus-ring);
    outline-offset: var(--focus-ring-offset);
  }
}

@mixin button-primary {
  background: var(--slate-900);
  color: var(--bg-white);


  &:active:not(:disabled),
  &[data-pressed]:not(:disabled) {
    background: var(--slate-700);
  }

  &:disabled {
    background: var(--slate-400);
  }
}

@mixin button-secondary {
  background: transparent;
  border: 2px solid var(--slate-900);
  color: var(--slate-900);
  font-weight: bold;


  &:active,
  &:visited {
    color: var(--slate-900);
  }

  &:hover:not(:disabled) {
    background: var(--blue-500);
    color: #fff;
    border: 2px solid var(--blue-500);
    text-decoration: none;
  }

  &:active:not(:disabled),
  &[data-pressed]:not(:disabled) {
    background: var(--blue-500);
  }

  &:disabled {
    background: var(--blue-500);
    opacity: 0.5;

  }
}

@mixin button-tertiary {
  background: var(--gray-100);
  color: var(--slate-900);
  border: 1px solid var(--slate-100);

  &:active,
  &:visited {
    color: var(--slate-900);
  }

  &:hover:not(:disabled) {
    background: var(--blue-500);
    color: #fff;
    text-decoration: none;
  }

  &:active:not(:disabled),
  &[data-pressed]:not(:disabled) {
    background: var(--slate-200);
  }

  &:disabled {
    color: var(--slate-400);
    border-color: var(--slate-200);
  }
}


@mixin button-danger {
  background: var(--red-400);
  color: #fff;
  border: 1px solid var(--slate-100);

  &:active,
  &:visited {
    color: #fff;
  }

  &:hover:not(:disabled) {
    background: var(--slate-900);
    color: #fff;
    text-decoration: none;
  }

  &:active:not(:disabled),
  &[data-pressed]:not(:disabled) {
    background: var(--slate-900);
  }

  &:disabled {
    background: var(--slate-900);
    opacity: 0.5;
  }
}


// Styles for both react-aria buttons and default HTML buttons
.react-aria-Button,
button,
a.button-link,
.button-link,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  @include button-base;
}

a.button-link {
  text-decoration: none;
  &:hover:not(:disabled) {
    text-decoration: none;
  }
}

// Primary button styles

.react-aria-Button.primary,
.react-aria-Button--primary,
button.primary,
button--primary,
input[type="submit"],
input[type="button"].primary,
input[type="reset"].primary {
  @include button-primary;
}

// Secondary button styles
.react-aria-Button.secondary,
.react-aria-Button--secondary,
button.secondary,
button--secondary,
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary {
  @include button-secondary;
}

// Tertiary button styles
.react-aria-Button.tertiary,
.react-aria-Button--tertiary,
button.tertiary,
button--tertiary,
input[type="button"].tertiary,
input[type="reset"].tertiary,
input[type="submit"].tertiary {
  @include button-tertiary;
}

.react-aria-Button.danger,
.react-aria-Button--danger,
button.danger,
button--danger,
input[type="button"].danger,
input[type="reset"].danger,
input[type="submit"].danger {
  @include button-danger;
}
