



.react-aria-Checkbox {
  --selected-color: var(--highlight-background);
  --selected-color-pressed: var(--highlight-background-pressed);
  --checkmark-color: var(--highlight-foreground);
  font-weight: 400;
  display: flex;
  align-items: flex-start;
  gap: 0.571rem;
  font-size: 1.143rem;
  color: var(--text-color);
  forced-color-adjust: none;
  margin-bottom: 1rem;


  .checkbox {
    width: 1.143rem;
    height: 1.143rem;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    transition: all 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    width: 1rem;
    height: 1rem;
    fill: none;
    stroke: var(--checkmark-color);
    stroke-width: 3px;
    stroke-dasharray: 22px;
    stroke-dashoffset: 66;
    transition: all 200ms;
  }


  &[data-pressed] .checkbox {
    border-color: var(--border-color-pressed);
  }

  &[data-focus-visible] .checkbox {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  &[data-selected],
  &[data-indeterminate] {
    .checkbox {
      border-color: var(--selected-color);
      background: var(--selected-color);
    }

    &[data-pressed] .checkbox {
      border-color: var(--selected-color-pressed);
      background: var(--selected-color-pressed);
    }

    svg {
      stroke-dashoffset: 44;
    }
  }

  &[data-indeterminate] {
    & svg {
      stroke: none;
      fill: var(--checkmark-color);
    }
  }
}

.react-aria-CheckboxGroup{
  margin-bottom: 2rem;

  .react-aria-Checkbox {
    margin-bottom: 0.5rem;

  }
  label{
    font-weight: 400;
  }
}

.checkbox-group-two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; /* Add spacing between checkboxes */
  margin-bottom: 2rem;
  font-size: var(--fs-base);

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .checkbox-label {
    font-size: var(--fs-base);
  }
  .icon {
    svg {
      width: 16px;
      height:16px;
      fill: var(--brand-primary);
    }
  }

  .popover-btn {
      display: inline-block;

      background:none;
      padding: 0 0 0 0.03rem;

      &:hover {
        background: none;
      }
  }

  label {
    margin-bottom: 0;
  }

  .checkbox-wrapper {
    display: inline;
  }
  
  .checkbox-wrapper > div:first-child {
    display: inline;
  }
}
