label,
.react-aria-Label {
  display: block;
  color: var(--blue-900);
  font-weight: 600;
  //margin-bottom: 0.6rem;
}

.is-required {
  font-weight: 500;
  color: var(--slate-600);
}

.help {
  font-size: 1rem;
  color: var(--text-color);
  display: block;
  margin: 0 0 0.6rem;
}