label,
.react-aria-Label {
  display: block;
  color: var(--blue-900);
  font-weight: 600;
  margin-bottom: 0.6rem;
}


.help {
  font-size: 1rem;
  color: var(--slate-600);
  display: block;
  margin: 0 0 0.6rem;
}