// Toggle Switch

$switch-width: 2.5rem;
$switch-height: 1.25rem;
$switch-border: 2px;
$thumb-size: 1rem;

.react-aria-Switch {
  display: flex;
  align-items: center;
  gap: 0.571rem;
  font-size: 1.143rem;
  color: var(--text-color);
  forced-color-adjust: none;
  cursor: pointer;

  .indicator {
    width: $switch-width;
    height: $switch-height;
    border: $switch-border solid var(--border-color);
    background: var(--background-color);
    border-radius: 1.143rem;
    transition: all 200ms;

    &:before {
      content: "";
      display: block;
      width: $thumb-size;
      height: $thumb-size;
      background: var(--highlight-background);
      border-radius: 16px;
      transition: all 200ms;
    }
  }

  &[data-selected] .indicator:before {
    transform: translateX(calc(#{$switch-width} - (2 * #{$switch-border}) - #{$thumb-size}));
    background: var(--field-background);
  }

  &[data-pressed] .indicator {
    border-color: var(--border-color-pressed);
  }

  &[data-selected] {
    .indicator {
      border-color: var(--highlight-background);
      background: var(--highlight-background);
    }

    &[data-pressed] .indicator {
      border-color: var(--highlight-background-pressed);
      background: var(--highlight-background-pressed);
    }
  }

  &[data-focus-visible] .indicator {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }
}
