@use '@/styles/responsive' as r;

.react-aria-Tabs {
  display: flex;
  color: var(--text-color);

  &[data-orientation=horizontal] {
    flex-direction: column;
  }
}

.react-aria-TabList {
  display: flex;

  &[data-orientation=horizontal] {
   // border-bottom: 1px solid var(--border-color);

    .react-aria-Tab {
      border-bottom: 3px solid var(--border-color);
    }
  }
}

.react-aria-Tab {
  padding: 10px;
  cursor: pointer;
  outline: none;
  position: relative;
  color: var(--text-color-base);
  transition: color 200ms;
  --border-color: transparent;
  forced-color-adjust: none;

  &[data-hovered],
  &[data-focused] {
    color: var(--text-color-hover);
  }

  &[data-selected] {
    background-color: var(--card-background, #fff);
    color: var(--text-color);
  }

  &[data-disabled] {
    color: var(--text-color-disabled);
    &[data-selected] {
      --border-color: var(--text-color-disabled);
    }
  }

  &[data-focus-visible]:after {
    content: '';
    position: absolute;
    inset: 4px;
    border-radius: 4px;
    border: 2px solid var(--focus-ring-color);
  }
}

.react-aria-TabPanel {
  margin-top: 0px;
  outline: none;
  border: var(--card-border, none);
  border-radius: var(--card-border-radius, 0.3125rem);
  box-shadow: var(--card-shadow, 0px 4px 6px 0px rgba(0, 0, 0, 0.09));
  padding: 0.75rem;
  background-color: var(--card-background, #fff);
  margin-bottom: 1rem;

    @include r.device(sm) {
      padding: 2rem;
    }
  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
  }
}
