
.pageTools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: var(--space-3);

  > * {
    width: 30%;
  }

  > button {
    width: auto;
  }
}

.userList {
  width: 100%;
  margin-bottom: var(--space-6);
}
