
.autocompleteResults {
    visibility: hidden;
    position: absolute;
    top: 75px;
    right: 1px;
    margin-top: 0;
    width: 100% !important;
    overflow-y: auto;
    border: none;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    outline: none;
    padding: 0;
    max-height: 200px;
    z-index: 10;

    &.visible {
        visibility: visible;
        background-color: white;
    }
  }

  .autocompleteResults > li.otherOption {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #999;
  }
  
  .autocompleteResults > li {
    list-style: none;
    padding: 0.4rem 1rem;
    cursor: pointer;
  }
  
  .autocompleteResults > li:hover {
    background: hsl(212, 10%, 60%);
  }
  
  .autocompleteResults > li:focus {
    background: hsl(212, 10%, 70%);
  }

  .helpText {
    font-size: 0.75rem;
    color: var(--gray-500);
    margin-top: 5px;
  }

  .autocompleteContainer {
    position: relative;
    min-height: 85px;
    margin-bottom: 2rem;
    max-width: 600px;
  }

  .autocompleteDropdownArrow {
    position: absolute;
    right: 7px;
    top: 46%;
    background: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    transition: transform 0.2s linear;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center; // Vertically centers the SVG
    justify-content: center; // Horizontally centers the SVG if needed
  

    &.expanded {
        transform: rotate(-180deg);
      }
  }

  .autocompleteItem {

    &:focus {
      outline: none;
      background: hsl(212, 10%, 70%);
    }
  }


  .searchInput {
    width: 100%;
  }
 .expanded {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }


.searchSpinner {
  animation-name: fade;
  animation-duration: 5s;
  position: absolute;
  top: 35%;
  right: 50%;
  text-align: center;
  transition: opacity 1s ease-in-out;
}

@keyframes fade {
  0% {
      opacity: 0
  }
  40% {
      opacity: 0.5
  }
  100% {
      opacity: 1
  }
}

.autocompleteContainer .searchInput {
    max-width: 100%;
    overflow:hidden;
    padding-right: var(--space-5);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.errorMessage{
  font-size: var(--fs-xsmall);
  color: var(--brand-error);
}

.fieldError {
  input {
    border: 1px solid var(--brand-error);
  }
}
