.loadBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.remainingText {
  font-size: var(--fs-small);
  margin-top: var(--space-2);
  margin-right: var(--space-2);
}
