.toast-region {
  position: fixed;
  top: 20px; /* Adjust as needed for spacing */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Ensure it appears above other elements */
  display: flex;
  flex-direction: column; /* Stacks toasts vertically */
  gap: 10px; /* Spacing between toasts */
}

.toast {
  color: #fff;
  background: #6a5acd;
  border-radius: 8px;
  align-items: center;
  gap: 16px;
  padding: 12px 16px;
  display: flex
;
}

.toast button {
  -webkit-appearance: none;
  appearance: none;
  color: #fff;
  background: 0 0;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 16px;
}