@import '../../styles/responsive.scss';

.pageheader-container {

  padding: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;

  @include device(lg) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .pageheader-title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: var(--fw-bold);
  }

  .pageheader-intro {
    font-size: 1rem;
  }

  .heading-buttons-actions {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    @include device(lg) {

    }

  }
}


