@use '@/styles/responsive.scss' as r;

.template-editor-header {
  padding: 0 var(--brand-space2);
}

.pageheader-container {
  padding: 0;
  margin-top: 1rem;

  @include r.device(lg) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

  }

  .pageheader-title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: var(--fw-bold);
  }

  .pageheader-intro {
    font-size: var(--fs-base);
    padding: 0;
    margin-bottom: 0;
  }

  .heading-buttons-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    @include r.device(md) {
      justify-content: flex-start;
      gap: 0.75rem;
    }

    @include r.device(lg) {
      gap: 1rem;
    }
  }
}