// SubHeader Container
.cSubheader {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -1px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--space-4);
}

.cSubheaderInner {
  display: flex;
  width: fit-content;
  padding: var(--space-2) var(--space-4);
  background-color: var(--bg-white);
  border-bottom-left-radius: var(--border-radius-lg);
  border-bottom-right-radius: var(--border-radius-lg);
  border: 1px solid var(--border-color);
  border-top: 1px solid var(--bg-white);

}


.cSubheaderInner {
  gap: var(--space-6);

  .cLinksOrg {
    order: 2;
    flex-direction: row;
    align-items: center;
  }
}


// Logo Styling
.cLogoOrg {
  text-decoration: none;

  img {
    display: block;
    inline-size: clamp(3rem, 12vw, 4.5rem);
    block-size: auto;
  }

  // If <img> isn't present, then use text label
  p {
    margin: 0;
    font-size: var(--fs-small);
  }
}

// Navigation Links
.cLinksOrg {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  margin: 0;
  padding: 0;
}

.cLinksOrgUcop,
.cLinksOrgUc3Helpdesk {
  font-size: var(--fs-small);
  text-decoration: none;

}

// Link hover styles are handled by global styles

// Tooltip for "Opens in new window"
.hasNewWindowPopupInfo {
  position: relative;
}

.hasNewWindowPopupInfo>.newWindowPopupInfo {
  position: absolute;
  left: -9000px;
  width: 0;
  overflow: hidden;
}

.hasNewWindowPopupInfo:hover,
.hasNewWindowPopupInfo:focus,
.hasNewWindowPopupInfo:active {
  z-index: 25;
}

.hasNewWindowPopupInfo:hover>.newWindowPopupInfo,
.hasNewWindowPopupInfo:focus>.newWindowPopupInfo,
.hasNewWindowPopupInfo:active>.newWindowPopupInfo {
  display: block;
  position: absolute;
  top: 1.5em;
  left: -1em;
  width: 10em;
  border: 1px solid var(--border-color);
  background-color: var(--bg-white);
  color: var(--text-color);
  text-align: center;
  font-size: var(--fs-small);
  padding: 0.2rem 0.4rem;
}