$color-black: #05042E;
$color-white: #fff;
$color-blue-dark: #004EAA;
$color-blue: #54D8FF;
$color-blue-light: #F0FBFF;
$color-gold: #FFC845;
$color-grey: #F2F2F2;
$color-green: #006C6C;
$color-red: #D3273E;