//override the white background set in layout containers
.layoutContentContainer,
.layoutSidebarPanel {
  background-color: transparent;
}

// Remove padding on this, so that the content containers left align with page title
.layoutContentContainer {
  padding: 0;
  margin-left: var(--space-3);
}