
.signupPage {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  gap: var(--grid-gap);
  margin-bottom: var(--space-5);
}

.signupContent {
  --layout-content-background: white;
  max-width: 40rem;
  width: 100%;
  padding: 2rem;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);

  h3 {
    padding: 0;
  }
}

.signupForm {
  display: flex;
  flex-direction: column;
}

.typeAhead {
  margin-bottom: var(--space-5);
}

.formActions {
  --layout-container-padding: 0;
  padding-left: 0;
  padding-right:0;
}

.help {
  display: block;
  font-size: var(--fs-small);
  margin: var(--space-3) 0;
}

.formLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-4);
}
