.tooltipButton {
  display: inline-flex;
  align-items: center;
  margin: var(--space-3) 0;
  padding: 0.5rem 1rem;
  background-color: var(--gray-75);
  color: black;

  &:hover:not(:disabled) {
    background-color: var(--gray-100)!important;
    color:black!important;
    text-decoration: none!important;
  }

  span {
    margin-left: 5px;

    img{
      position: relative;
      top: 2px;
    }

    &.icon-cancel {
      margin-left: 1rem;
      padding: 0;
      right: -5px;
      position: relative;
      top: 2px;
    }
  }
}

.tooltip {
  background-color: var(--gray-600);
  color: var(--gray-50);
  font-size: 0.75rem;
  padding: 5px;
  position: relative;

  .tooltipArrow {
    background-color: inherit; // Match background color of tooltip
    position: absolute;

    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: inherit;
      transform: rotate(45deg);
      bottom: -5px;
      left: 0;
    }
  }
}
