.radioBtn {
  align-items: flex-start !important;

  &::before {
    margin-top: var(--space-1);
  }
}

.templateHistoryLink {
  font-size: var(--fs-small);
  margin-top: var(--space-1);
  color: var(--gray-600);
  display: inline-block;
  text-decoration: underline;

  &:visited {
    color: var(--gray-600);
  }
}

.deleteWarning {
  display: flex;
  align-items: center;
}

.deleteConfirmButtons {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}


.deleteTemplateCustomizationContainer {
  margin-top: 2rem;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
}

.dangerZoneDescription {
  margin-bottom: 1rem;
}

.deleteConfirmButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 1rem;
}