
.QuestionView {
  padding: 1rem;
  &__content-container {
    grid-gap: var(--grid-gap);
  }
}

.ByLine {
  color: var(--text-byline-color);
}

.Logo {
  vertical-align: middle;
}

.numberRange {
  max-width: 400px;
}

/* Best Practices Sidebar Style */
.headerWithLogo {
  display: flex;
  align-items: center; // vertically center the image and text
  gap: 0.5rem;
}

.noBorder {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 2rem 0;
}

.guidance {
  margin-top: 2rem;
}