.footer-links {
    background-color: var(--dmpui-brand-blue-950);
    padding-bottom: 1rem;
    background-image: url('/images/bg-arrow.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 135%;
  }

.dmpui-frontend .footer-links-grid {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  
  .dmpui-frontend .footer-links-grid h1, .dmpui-frontend .footer-links-grid h2, .dmpui-frontend .footer-links-grid h3, .dmpui-frontend .footer-links-grid h4, .dmpui-frontend .footer-links-grid h5 {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    color: #fff;
  }
  
  .dmpui-frontend .footer-links-grid p {
    margin: 0;
    color: #fff;
  }
  
  .dmpui-frontend .footer-links-grid ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dmpui-frontend .footer-links-grid ul li {
    margin-bottom: 0.5rem;
  }
  
  .dmpui-frontend .footer-links-grid ul li a {
    color: #fff;
    text-decoration: underline;
  }
  
  .dmpui-frontend .footer-links-grid ul li a:hover {
    color: var(--dmpui-brand-blue-400);
    text-decoration: none;
  }
  
  .dmpui-frontend .footer-links-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .dmpui-frontend .footer-disclaimers-logo {
    grid-column: span 2;
  }
  
  .dmpui-frontend .footer-disclaimers-logo img {
    width: 100%;
    height: 55px;
    max-width: 150px;
  }
  
  .dmpui-frontend .footer-disclaimers-text {
    grid-column: span 9;
    align-self: center;
  }
  
  .dmpui-frontend .footer-disclaimers-text p {
    font-size: 0.85rem;
    margin: 0;
  }


  .dmpui-frontend .footer-links-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  
  .dmpui-frontend .footer-disclaimers-grid {
    display: grid;
    padding: 2rem 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  
  /* mobile styles */
  @media screen and (min-width: 1000px) {
    .dmpui-frontend .footer-links-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 1000px) {
    .dmpui-frontend .footer-disclaimers-grid {
      grid-template-columns: repeat(12, 1fr);
    }
  }


  @media (max-width: 1000px) {
    .dmpui-frontend .footer-links-grid {
      padding: 2rem 0.5rem;
    }
    .dmpui-frontend-header .header-logo img,
    .dmpui-frontend .footer-links-grid img {
      max-width: 12.5rem;
    }
    .dmpui-frontend .footer-links-grid img {
      margin-bottom: 1.5rem;
    }
    .dmpui-frontend .footer-links-grid .footer-links-quicklinks {
      margin: 1.5rem 0;
    }
    .dmpui-frontend .footer-links {
        background-position: 250% 120%;
        background-size: 90%;
      }
}


