@use "@/styles/responsive.scss" as r;

.tabWrapper {
}

.container {
  display: flex;
  flex-direction: column;
}

.tabWrapper :global(.react-aria-Tab) {
  font-weight: 600;
  font-size: var(--fs-md);
  line-height: 1.5rem;

  color: var(--slate-900);
  padding: 0.5rem 1rem !important;
  border: 0 !important;

  @include r.device(md) {
    font-size: var(--fs-xl);
    line-height: 1.75rem;
  }

  h2 {
    all: unset;
  }
}

.tabWrapper :global(.react-aria-Tab[data-selected]) {
  background-color: #eaeaea;
}

.tabWrapper :global(.react-aria-TabPanel) {
  background-color: #eaeaea;
  border-top-left-radius: 0;
  padding: 1.2rem 1.2rem 1.5rem;
  box-shadow: none;
}
