@import '@/styles/responsive';


.readOnlyField {
  min-width: 50%;
}

.section {
  background-color: var(--gray-50);
}

.subSection {
  margin-bottom: var(--space-4);
}

.addContainer {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-top: var(--space-4);
  max-width: 100%;

  button {
    border-radius: 6px;
    margin-bottom: var(--space-4);
    padding: var(--space-3);
  }
}

.relatedItems {
  list-style-type: none;
  padding-left: 0;

  li {
    font-size: var(--fs-small);
    padding-bottom: var(--space-3);
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.mainContent {
  flex: 1;
  min-width: 400px;
  padding: 0 var(--space-3);
}

.rightSidebar {
  flex-basis: 300px; /*Fixed width for sidebar*/
  padding-top: var(--space-3);
  background-color: transparent;
}

.btnContainer {
  display: flex;
}

.btn {
  margin-left: auto;
}

//override the white background set in layout containers
.layoutContentContainer,
.layoutSidebarPanel {
  background-color: transparent;
}

// Remove padding on this, so that the content containers left align with page title
.layoutContentContainer {
  padding: 0;
}