.checkboxGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; /* Add spacing between checkboxes */
  margin-bottom: 2rem;
  font-size: var(--fs-base);

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .checkboxLabel {
    font-size: var(--fs-base);
  }
  .icon {
    svg {
      width: 16px;
      height:16px;
      fill: var(--brand-primary);
    }
  }

  .popoverBtn {
      display: inline-block;

      background:none;
      padding: 0 0 0 0.03rem;

      &:hover {
        background: none;
      }
  }

  label {
    margin-bottom: 0;
  }
}

.checkboxWrapper {
  display: inline;
}

.checkboxWrapper > div:first-child {
  display: inline;
}


