.searchFieldWrapper {
  margin-bottom: var(--space-6);
}

.templatesList {
  border-top: 1px solid var(--gray-100);
  padding-top: var(--space-4);
  margin-top: var(--space-4);
}

.clearFilter {
  margin: 0 !important;
}

.filterColumnsWrapper {
  label {
    margin-bottom: var(--space-2);
  }
}