.dmpui-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  list-style: none;
  background-color: #54D8FF;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px #004EAA;
  padding: 12px 16px;
  z-index: 100;
}

.dmpui-dropdown:hover .dmpui-dropdown-content {
  display: block;
}

.btnLanguageSelector {
  background: 'none';
  border: 'none';
  padding: 0;
  text-align: 'left' ;
}

.paragraph {
  color: var(--blue-900);
  cursor: pointer;
  display: block;
  font-weight: var(--fw-bold);
  margin: 0 0 var(--space-2);
}