.leftButton {
  margin: 0;
}

.numberButton {
  background: transparent;
  border: 1px solid var(--border-color);
  border-radius: 0;
  color: var(--text-color);
  font-weight: bold;
  margin: 0;
}

.card .card-body .numberInput:focus:not(:disabled) {
  box-shadow: none !important;
  outline: none !important;
}

.numberInput {
  color: var(--text-color) !important;
  border: 1px solid var(--border-color) !important;
}