.optionsRow {
  display: flex;
  flex-direction: row;

  .orderNumber {
    max-width: 100px;
  }
}

.deleteButton {
  margin-bottom: 0rem;
}

.formRow {
  display: flex;
  flex-direction: row;

}

.tableHeader {
  font-weight: 700;
  font-size: medium;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  border-bottom: 1px solid #eee;
  padding-top: 0rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.cell {
  padding: 10px 0px;
  flex: 1;

  :global(.react-aria-TextField) {
    margin-bottom: 0rem;
    label{
      font-weight: 400;
    }
  }

  label.react-aria-Checkbox{
    white-space: nowrap;
    font-weight: 400;
  }

}

.cellData {
  border: 1px solid #ccc;
}

.text {
  min-width: 200px;
}

.orderNumber {
  max-width: 30px;
}

.dmpIcon {
  fill: black;
}

.dmpIcon:hover {
  fill: red;
}

.remove {
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
}

.default {
  margin-left: 20px;
  label{
    font-weight: 400;
  }
}

.optionsCheckbox {
  margin-bottom: 0;

  label{
    font-weight: 400;
  }
  .checkBox {
    margin-top: 10px;
  }
}

.textFieldLabel {
  white-space: nowrap;
  font-weight: 400;
}

