
.QuestionPreview {
  --layout-content-padding: 0;
}

@keyframes modal-slide-in {
  from { height: 0%; }
  to { height: 95%; }
}

@keyframes modal-slide-out {
  from { height: 95%; }
  to { height: 0%; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0 0 0 / .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;

  &[data-entering] {
    animation: fade-in 200ms;
  }

  &[data-exiting] {
    animation-delay: 200ms;
    animation: fade-out 200ms;
  }
}

.Modal {
  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
  background: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--gray-400);
  outline: none;
  width: 100vw;
  height: 90%;
  overflow: auto;

  &[data-entering] {
    animation: modal-slide-in 150ms ease-in;
  }

  &[data-exiting] {
    animation: modal-slide-out 150ms ease-out;
  }
}

.ModalDialog {
  position: relative;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;

  &:focus-within {
    border: 0 none;
    outline: none;
  }
}

.PreviewNotice {
  box-sizing: border-box;
  padding: var(--space-4);
  background-color: var(--purple-100);

  h3:first-child {
    padding: 0;
    margin: 0;
  }
}
