@use "responsive" as r;
.error-message{
  font-size: var(--fs-small);
  color: red;
}

.field-error {
  input {
    border: 1px solid red;
  }
}

.help-text {
  display: block;
  font-size: var(--fs-small);
  margin: var(--space-2) var(--space-0);
  max-width: 600px;
  color: var(--text-color-base);

}

.form-row {
  margin: 20px 0;
  min-height: 85px;
}

.two-item-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  max-width: 600px;

  > div {
    flex: 1;
  }

  @include r.device(lg) {
    flex-direction: row;
  }
}

.one-item-row {
  max-width: 100%;
  input {
    max-width: 100%;
  }
}

.field-label {
  font-weight: var(--fw-bold, 600);
}

.disabled-look {
    background-color: var(--slate-200) !important;
    color: var(--text-color) !important;
    cursor: not-allowed !important;
}