.messages {
    color: var(--text-color);
    padding: 15px;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.error {
    background: rgba(238, 100, 100, 0.405);
}

.success {
    background: #dcfbe5;
}