
/*
 * Styles related to the overall structure of the browser page.
 * These are the core sections that make up the structure of the
 * App
 *
 */
header,
#root,
footer {
  padding: var(--brand-space1) var(--brand-space2);
}


/* HEADER */
header {
  --text-color: white;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--brand-space2);
  row-gap: var(--brand-space3);
  background-color: var(--brand-primary);
  color: var(--text-color);
  font-size: 1.1em;

  h1 {
    --heading-color: white;
  }

  .dmptool-logo {
    width: 140px;
    height: auto;
  }

  .dmp-menu {
    margin: 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
      margin-left: var(--brand-space2);
    }

    li strong {
      font-weight: 600;
      margin-right: var(--brand-space1);
    }
  }
}

.with-subheader {
  margin-bottom: 5px;
}

.subheader {
  @include device(md) {
    font-size: 1rem;
  }

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  gap: 5px 20px;
  font-size: 0.8rem;
  color: var(--gray-600);
  margin-top: 0;
}

// ** Main Section ** //
main {
  @include device(xs) {
    padding: var(--brand-space1) var(--brand-space2);
  }
  @include device(md) {
    padding: var(--brand-space2) var(--brand-space3);
  }
  margin-bottom: 25px;
}


// TODO/FIXME: I'm not convinced that we should isolate dropdown styles
// for a single area of the page like this.
//
// Dropdown Versions menu
header .dropdown-content a {
  color: var(--brand-primary);
  padding: 12px 4px;
  text-decoration: none;
  display: block;
}
header .dropdown-content a:hover {
  background-color: white;
}
header .dropdown:hover .dropdown-content {
  display: block;
}
header .dropdown:hover .dropbtn {
  background-color: white;
  color: var(--brand-primary);
}
header span.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 4px;
}
header span.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
header span.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

// ** Table Cells ** //
table {
  border-spacing: 0;
  margin-top: 25px;
  th {
    padding-bottom: 15px;
    text-align: left;
  }

  td {
    padding: 15px 25px 10px 0;
    vertical-align: top;
  }
}



// ** Footer Component ** //
footer {
  margin-block-end: var(--brand-space2);
  padding-block-start: var(--brand-space2);
  border-top: 2px solid var(--brand-blue);

  p {
    margin: 0;
    font-size: 0.8em;
  }

  nav {
    margin-bottom: 10px
  }

  nav a:not(:first-child) {
    margin-left: 15px;
    margin-right: 5px;
  }
}


.back-link-button {
  background: none;
  border: none;
  color: #000;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
}

.back-link-button:hover,
.back-link-button:focus {
  color: var(--purple-600);
  text-decoration: underline;
}



.template-editor-container {
  @include device(lg) {
    display: flex;
    justify-content: space-between;
  }

  .main-content {
    @include device(lg) {
      width: 50%;
    }

    @include device(xl) {
      width: 66%;
    }
  }
  .sidebar{

    margin-top: 2rem;
    @include device(lg) {
      margin-top: 0;
      margin-left: 5%;
      width: 45%;
    }

    @include device( xl) {
      margin-left: 3%;
      width: 30%;
    }

  }

}


.mx-auto{
  margin: 0 auto;
}
.section-add-cont {
  border: 1px dashed #D1D1D1;
  background: rgba(255, 255, 255, 0.50);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
