h1,
h2,
h3,
h4 {
  font-family: var(--font-family);
  font-weight: 400;
}

h1 {
  color: var(--heading-color);
  font-size: 1.5rem; //24px
}

h2, h3, h4 {
  color: var(--heading-color);
}

h2 {
  font-size: 1.25rem;//20px
}

h3 {
  font-size: 1.125rem;//18px
  padding: 5px 10px 5px 3px;
}

h4 {
  font-size: 1rem;//16px
}

p, dd {
  font-family: var(--font-family);
  font-size: 1em;
  line-height: var(--brand-line-height1);
}

a,
a:active,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
  color: var(--brand-tertiary);
  font-weight: bold;
}


@media only screen and (min-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
      font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}