@use "@/styles/responsive.scss" as *;

.relatedWorksItem {
  padding: 1.25rem 0.8rem 1.25rem var(--space-4);
  border-radius: var(--card-border-radius);
  background: var(--bg-white);
  box-shadow: var(--card-shadow);
  border: 1px solid var(--card-border);
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s 500ms,
    opacity 500ms linear;
}

.overview {
  display: flex;
  flex-direction: column;
}

.overviewHeader {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @include device(md) {
    flex-direction: row;
    gap: 1rem;
  }
}

.overviewTitle {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;

  h3 {
    margin: 0;
    padding: 0 0 0.2rem;
    line-height: var(--lh-tight) !important;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      color: var(--text-color);
      font-size: var(--fs-lg);
      font-weight: var(--fw-bold);
      line-height: var(--lh-tight) !important;
    }
  }

  h4 {
    color: var(--gray-600);
    font-size: var(--fs-base);
    font-weight: var(--fw-normal);
    line-height: var(--lh-tight);
    margin: 0;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.overviewHeaderActions {
  padding-top: 0.1rem;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.overviewFooter {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include device(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.overviewMetadata {
  display: flex;
  gap: var(--space-4);
  color: var(--gray-500);
  font-size: var(--fs-small);
  font-weight: var(--fw-normal);
  padding-top: 1rem;
}

.confidence {
  line-height: 1.1rem;
  color: var(--text-color);
  font-weight: var(--fw-bold);
  padding-top: 0.1rem;
}

.details {
  padding-top: var(--space-4);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.detailsList>*:not(:last-child) {
  margin-bottom: var(--space-2);
}

.detailsItem {
  h5 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.25rem;
    font-weight: 700;
  }
}

.reviewInstructions {
  line-height: 1.25rem;
}

.actionInstructions {
  font-weight: 500;
  font-size: var(--fs-small);
}

.overviewFooterActions {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--space-2);
  margin-right: 0.5rem;

  @include device(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.match {
  background-color: var(--purple-100);
}

.hideContentHighlights {
  mark {
    background-color: transparent;
  }
}

.showContentHighlights {
  mark {
    background-color: var(--purple-100);
  }
}

.sourceUrl {
  color: var(--gray-500) !important;
}
