.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: underline;
  color: var(--text-color) !important;
  font-size: var(-fs-small);
  padding: var(--brand-space3) var(--brand-space4);
  transition: all 0.2s ease;
}

.link:hover {
  color: #000;
}

.icon {
  width: 20px;
  height: 20px;
}