.container {
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: var(--space-4);
}

.radioGroup {
  display: flex;
}

.separator {
  margin-left: var(--space-1);
  margin-right: 0.1rem;
}

.radio {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  margin-bottom: 0;
}

.radioLabelHidden {
  text-decoration: underline;
  font-weight: var(--fw-bold);
  visibility: hidden;
}

.radioLabel {
  position: absolute;
  top: 0;
  left: 50%;
  font-weight: var(--fw-normal);
  transform: translateX(-50%);
  text-wrap: nowrap;
  text-decoration: underline;
}

.radio[data-selected="true"] .radioLabel {
  font-weight: 700;
}